*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
#containercard{
    color: rgb(236, 236, 115);
    display: flex;
    flex-wrap: wrap;

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;

        h1{
            color: white;
        }
    }

}
