* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #014f86;
}

body #containercard {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 30px auto;
  height: 100%;
}

body #containercard h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bolder;
  color: white;
}

body #containercard .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 250px;
  margin-bottom: 30px;
  margin-right: 2%;
  text-align: center;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 1em;
  background: linear-gradient(to right, #51a1d0, #1c5474);
}

body #containercard .card h2 {
  color: #013a63;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bolder;
}

body #containercard .card span {
  color: #afdbf5;
  margin: 5px 0;
  font-size: 20px;
}

